body {
    background-color: black;
    color: #FFF973;
    padding-top: 50px;
    align-items: center;
}

.tengah {
    padding-right: 12px;
    align-items: center;
}

.lol {
    color: #FFF973;
    text-align: center;
    text-decoration: none;
}

.lol:hover {
    transition: color 0.5s;
    color: white;
}

.text-center {
    text-decoration: none;
    margin-top: 50%;
}

.pip {
    padding-right: 10px;
}

.imgbg img {
    position: fixed;
    margin-top: -7%;
    filter: blur(8px);
    height: 1080px;
    width: 1920px;
}

.w3-xlarge {
    cursor: pointer;
}

.w3-container {
    color: #FFF973;
}

.warnateks {
    color: #FFF973;
}

.paddingfont {
    max-width: 750px; /* Adjust the maximum width to your preference */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.solid {
    border: 1px solid #FFF973; /* Replace 'red' with the desired border color */
}

.fade-transition {
    animation: fadeEffect 1s ease;
}

.fade-transition2 {
    animation: fadeEffect 2s ease;
}

.fade-transition3 {
    animation: fadeEffect 5s ease;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}
